* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff00ff;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
}
.nav-links a:hover{
    background-color: #add0f5;
    border-radius: 4px;
}
#home {
    height: 100vh;
    background: url('asset/b1.jpg') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 20px;
}

.hero-content {
    max-width: 800px;
}
.hero-content h2{
    font-size: 4rem;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.btn {
    text-decoration: none;
    background-color: #ff7f50;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #ff6347;
}

.tentang {
    padding: 100px 0;
    background-color: #f9f9f9;
    margin-top: 60px;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    gap: 40px;
}
.about-text{
    flex: 1 1 500px;
}
.about-text h2{
    font-size: 2.5 rem;
    color: #007bff;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 1.1 rem;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #555;
}
.about-image {
  flex: 1 1 400px;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .about-image {
    flex: 1 1 100%;
  }

  .about-image img {
    max-width: 100%;
  }
}
/* sevice section */
.service {
    padding: 100px 20px;
    background-color: #ffffff;
    text-align: center;
}
.service-container {
    max-width: 1200px;
    margin: auto;
}
.service h2 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
}
.service p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 40px;
}
.service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: tranform 0.3s, background-color 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    background-color: #e8f2ff;
}
.card img{
    width: 80px;
    margin-bottom: 15px;
}
.card h3{
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
}
.card p {
    font-size: 1rem;
    color: #555;
}
/* contact section */
.contact {
    padding: 100px 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.contact-container{
    max-width: 700px;
    margin: auto;
}
.contact h2 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
}
.contact p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 30px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}
.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact-form button:hover {
    background-color: #0056b3;
}
.footer{
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 0.95rem;
}
@media (max-widht:768px){
    .service-card{
        flex-direction: column;
        align-items: center;
    }
}
.modal{
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
}
.modal-content img {
    width: 100px;
    margin-bottom: 15px;
}
.modal-content h2 {
    color: #007bff;
    margin-bottom: 10px;
}
.modal-content p {
    color: #333;
    line-height: 1.6;
    white-space: pre-line;
}
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    color: #555;
    cursor: pointer;
}
.close:hover {
    color: #000;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9);}
    to { opacity: 1; transform: scale(1);}
}

.dark-toggle {
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: #333;
	transition: 0.3s;
}
.dark-toggle:hover {
	transform: scale(1.2);
}
body.dark-mode {
	background-color: #1e1e1e;
	color: #f5f5f5;
}
body.dark-mode .navbar{
	background-color: #2b2b2b;
}
body.dark-mode .nav-links{
	color: #f5f5f5;
}
body.dark-mode .hero{
	background-color: #222;
}
body.dark-mode .card{
	background-color:#333;
	color: #fff;
}
body.dark-mode .contact input,
body.dark-mode .contact textarea {
	background-color: #333;
	color: #fff;
	border: 1px solid #555;
}
body.dark-mode .footer {
	background-color: #2b2b2b;
}
